.container {
  width: 390px;
  min-height: 972px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 36px;
}

.ReportContainer {
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  height: auto;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 46px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.ReportBody {
  width: 310px;
  height: auto;
  margin-top: 20px;
}

.Report_title {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.Rise {
  padding: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #ffeded;
  color: #ff2c44;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
}

.Fall {
  padding: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #d8efff;
  color: #0087e1;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
}

.stock_inf {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.stock_content {
  display: flex;
  align-items: center; /* 체크 표시와 텍스트를 수직으로 중앙 정렬 */
  gap: 8px; /* 체크 표시와 텍스트 사이의 간격 */
}

.stock_content img {
  width: 24px;
  height: auto;
}

.R16 {
  margin: 0;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1.5; /* 텍스트의 줄 간격 */
}

.button {
  width: 109px;
  height: 37px;
  background-color: #ff2c44;
  color: white;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imageContainer {
  text-align: center;
}

.R14 {
  font-weight: 400;
  font-size: 14px;
}

.R16 {
  font-weight: 400;
  font-size: 16px;
}

.R18 {
  font-weight: 400;
  font-size: 18px;
}

.M14 {
  font-weight: 500;
  font-size: 14px;
}

.SB20 {
  font-weight: 600;
  font-size: 20px;
  margin-right: auto;
}

.SB24 {
  font-weight: 600;
  font-size: 24px;
}
